.courseTitle {
    font-size: 20px;
    font-weight: bold; 
}

.backButton {
  background: transparent;
  border: none;
  color: var(--dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 36px;
}